<?xml version="1.0"?>
<ruleset>

    <file>./src</file>
    <file>./tests/integration</file>
    <file>./tests/unit</file>

    <arg value="sp"/>
    <arg name="colors"/>
    <config name="testVersion" value="7.1-"/>

    <rule ref="Inpsyde">
        <exclude name="WordPress.Security"/>
        <exclude name="WordPress.PHP.NoSilencedErrors"/>
        <exclude name="WordPressVIPMinimum.Constants.ConstantString"/>
        <exclude name="WordPressVIPMinimum.Functions.StripTags"/>
        <exclude name="WordPress.DB.RestrictedFunctions"/>
        <exclude name="WordPress.PHP.DiscouragedPHPFunctions"/>
        <exclude name="WordPress.PHP.DevelopmentFunctions.error_log_set_error_handler"/>
        <exclude name="WordPress.WP.CapitalPDangit.MisspelledInText"/>
        <exclude name="WordPress.WP.CapitalPDangit.Misspelled"/>
    </rule>

    <rule ref="Inpsyde.CodeQuality.Psr4">
        <properties>
            <property
                name="psr4"
                type="array"
                value="WeCodeMore\WpStarter=>src,WeCodeMore\WpStarter\Tests=>tests\src,WeCodeMore\WpStarter\Tests\Unit=>tests\unit,WeCodeMore\WpStarter\Tests\Integration=>tests\integration"/>
        </properties>
    </rule>

    <rule ref="Inpsyde.CodeQuality.FunctionLength">
        <exclude-pattern>./tests/</exclude-pattern>
    </rule>

</ruleset>
