<?xml version="1.0"?>
<ruleset name="WPStarter">
    <description>The code standard for WPStarter package.</description>
    <file>wpstarter/src/</file>
    <arg value="sp"/>
    <arg name="extensions" value="php"/>
    <arg name="report" value="full"/>
    <arg name="report" value="summary"/>
    <arg name="report" value="source"/>
    <rule ref="PSR2"/>
    <rule ref="PHPCompatibility"/>
    <config name="testVersion" value="5.3-"/>
</ruleset>
