includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
	level: 10
	paths:
		- src
	strictRules:
		disallowedShortTernary: false
	ignoreErrors:
		-
			identifiers:
				- logicalAnd.resultUnused
				- logicalAnd.rightNotBoolean
				- logicalOr.resultUnused
				- logicalOr.rightNotBoolean
		-
			identifier: arrayValues.list
			path: src/Io/Io.php
			reportUnmatched: false
