#--------------------------------------------------------------------------------------------------#
#                                       ENVIRONMENT SETTING                                        #
# It can be anything, but "local", "development", "staging", and "production" are supported        #
# out-of-the of the box.                                                                           #
# Do not use "development" on production and vice versa because it affects debug settings.         #
#--------------------------------------------------------------------------------------------------#
WP_ENVIRONMENT_TYPE=development


#--------------------------------------------------------------------------------------------------#
#                                        DEVELOPMENT MODE                                          #
# Supported values are: "core", "plugin", "theme", "all". Do not define to disable.                #
# Setting a development mode is only relevant for sites where any kind of development occurs.      #
# For example, it is not advised or relevant to use on a production site.                          #
# Most usage today relates to theme.json caching.                                                  #
#--------------------------------------------------------------------------------------------------#
WP_DEVELOPMENT_MODE=all


#--------------------------------------------------------------------------------------------------#
#                                   MANDATORY DATABASE SETTINGS                                    #
#--------------------------------------------------------------------------------------------------#
DB_NAME=
DB_USER=
DB_PASSWORD=


#--------------------------------------------------------------------------------------------------#
#                                          HOME PAGE URL                                           #
# Optional, but recommended or current server name will be used, e.g., 'https://www.example.com'.  #
#--------------------------------------------------------------------------------------------------#
WP_HOME=


####################################################################################################
#                                                                                                  #
# Below is a cheat sheet of all the available settings.                                            #
# Most of the time, you do NOT need to edit further. All are optional; delete unused settings when #
# you finish editing.                                                                              #
# Note that settings are commented (prefixed with #). Remove the comment to be able to use a.      #
# setting. Edit with care. Do nothing if in doubt. Double-check before saving.                     #
# For help, see http://codex.wordpress.org/Editing_wp-config.php.                                  #
#                                                                                                  #
# Table of Contents:                                                                               #
#  - OTHER DATABASE SETTINGS                                                                       #
#  - MULTISITE                                                                                     #
#  - CACHE                                                                                         #
#  - DEBUG                                                                                         #
#  - OTHER PATHS & URLS                                                                            #
#  - WP AUTO-UPDATES                                                                               #
#  - POST & MEDIA SETTINGS                                                                         #
#  - PERFORMANCE                                                                                   #
#  - COOKIE                                                                                        #
#  - SECURITY                                                                                      #
#  - FILESYSTEM                                                                                    #
#  - CRON                                                                                          #
#  - LANGUAGES                                                                                     #
#  - PROXY                                                                                         #
#  - MISCELLANEOUS                                                                                 #
#                                                                                                  #
####################################################################################################


#--------------------------------------------------------------------------------------------------#
#                                      OTHER DATABASE SETTINGS                                     #
#--------------------------------------------------------------------------------------------------#
#DB_HOST
#DB_CHARSET
#DB_COLLATE
#DB_TABLE_PREFIX
#DO_NOT_UPGRADE_GLOBAL_TABLES
#WP_ALLOW_REPAIR
#CUSTOM_USER_TABLE
#CUSTOM_USER_META_TABLE


#--------------------------------------------------------------------------------------------------#
#                                            MULTISITE                                             #
# As of WP 3.0, you can create a network of sites using the multisite feature.                     #
# See http://codex.wordpress.org/Create_A_Network.                                                 #
#--------------------------------------------------------------------------------------------------#
#WP_ALLOW_MULTISITE=false
#MULTISITE=false
#MU_BASE=/
#ALLOW_SUBDIRECTORY_INSTALL=false
#SUBDOMAIN_INSTALL=true
#DOMAIN_CURRENT_SITE
#PATH_CURRENT_SITE=/
#SITE_ID_CURRENT_SITE=1
#BLOG_ID_CURRENT_SITE=1
#NOBLOGREDIRECT=${WP_SITEURL}
#UPLOADBLOGSDIR=blogs.dir
#UPLOADS=files
#BLOGUPLOADDIR=files
#WPMU_ACCEL_REDIRECT=false
#WPMU_SENDFILE=false


#--------------------------------------------------------------------------------------------------#
#                                              CACHE                                               #
#--------------------------------------------------------------------------------------------------#
#WP_CACHE


#--------------------------------------------------------------------------------------------------#
#                                              DEBUG                                               #
# If you set WORDPRESS_ENV, default debug values are used based on that.                           #
#--------------------------------------------------------------------------------------------------#
#WP_DEBUG=true
#WP_DEBUG_LOG=false
#WP_DEBUG_DISPLAY=true
#SAVEQUERIES=true
#SCRIPT_DEBUG=true
#ERRORLOGFILE=/var/log/error.log
#DIEONDBERROR=true


#--------------------------------------------------------------------------------------------------#
#                                           URLS & PATHS                                           #
# If WP_HOME above is set, all other URLs are set properly in most cases. You may need to set some #
# of the following for highly customized installations. Do nothing if in doubt.                    #
#--------------------------------------------------------------------------------------------------#
#WP_SITEURL
#WP_CONTENT_DIR=
#WP_CONTENT_URL=${WP_SITEURL}/wp-content
#WP_PLUGIN_DIR=${WP_CONTENT_DIR}/plugins
#WP_PLUGIN_URL=${WP_CONTENT_URL}/plugins
#WPMU_PLUGIN_DIR=${WP_CONTENT_DIR}/mu-plugins
#WPMU_PLUGIN_URL=${WP_CONTENT_URL}/mu-plugins
#WP_TEMP_DIR=tmp


#--------------------------------------------------------------------------------------------------#
#                                         WP AUTO-UPDATES                                          #
#--------------------------------------------------------------------------------------------------#
#AUTOMATIC_UPDATER_DISABLED=false
#WP_AUTO_UPDATE_CORE=false
#CORE_UPGRADE_SKIP_NEW_BUNDLED=true


#--------------------------------------------------------------------------------------------------#
#                                      POST & MEDIA SETTINGS                                       #
#--------------------------------------------------------------------------------------------------#
#AUTOSAVE_INTERVAL=60
#EMPTY_TRASH_DAYS=30
#WP_POST_REVISIONS=true
#MEDIA_TRASH=false
#IMAGE_EDIT_OVERWRITE=true


#--------------------------------------------------------------------------------------------------#
#                                           PERFORMANCE                                            #
#--------------------------------------------------------------------------------------------------#
#COMPRESS_CSS=false
#COMPRESS_SCRIPTS=false
#CONCATENATE_SCRIPTS=false
#ENFORCE_GZIP=false


#--------------------------------------------------------------------------------------------------#
#                                             COOKIE                                               #
#--------------------------------------------------------------------------------------------------#
#COOKIEHASH
#PASS_COOKIE
#LOGGED_IN_COOKIE
#AUTH_COOKIE
#SECURE_AUTH_COOKIE
#USER_COOKIE
#TEST_COOKIE
#COOKIE_DOMAIN
#COOKIEPATH
#SITECOOKIEPATH
#ADMIN_COOKIE_PATH
#PLUGINS_COOKIE_PATH


#--------------------------------------------------------------------------------------------------#
#                                             SECURITY                                             #
#--------------------------------------------------------------------------------------------------#
#DISALLOW_FILE_MODS=false
#DISALLOW_FILE_EDIT=false
#DISALLOW_UNFILTERED_HTML=true
#ALLOW_UNFILTERED_UPLOADS=false
#FORCE_SSL_ADMIN=false
#WP_HTTP_BLOCK_EXTERNAL
#WP_ACCESSIBLE_HOSTS


#--------------------------------------------------------------------------------------------------#
#                                         FILESYSTEM & FTP                                         #
#--------------------------------------------------------------------------------------------------#
#FS_CHMOD_DIR=0755
#FS_CHMOD_FILE=0644
#FS_METHOD
#FS_TIMEOUT=30
#FS_CONNECT_TIMEOUT=30
#FTP_USER
#FTP_PASS
#FTP_HOST
#FTP_SSL
#FTP_SSH
#FTP_BASE
#FTP_CONTENT_DIR
#FTP_PLUGIN_DIR
#FTP_PUBKEY
#FTP_PRIKEY


#--------------------------------------------------------------------------------------------------#
#                                               CRON                                               #
#--------------------------------------------------------------------------------------------------#
#ALTERNATE_WP_CRON=false
#DISABLE_WP_CRON=false
#WP_CRON_LOCK_TIMEOUT=60


#--------------------------------------------------------------------------------------------------#
#                                            LANGUAGES                                             #
#--------------------------------------------------------------------------------------------------#
#WP_LANG_DIR=${WP_CONTENT_DIR}/languages


#--------------------------------------------------------------------------------------------------#
#                                             MEMORY                                               #
#--------------------------------------------------------------------------------------------------#
#WP_MEMORY_LIMIT=128M
#WP_MAX_MEMORY_LIMIT=512M


#--------------------------------------------------------------------------------------------------#
#                                              PROXY                                               #
#--------------------------------------------------------------------------------------------------#
#WP_PROXY_HOST
#WP_PROXY_PORT
#WP_PROXY_USERNAME
#WP_PROXY_PASSWORD
#WP_PROXY_BYPASS_HOSTS


#--------------------------------------------------------------------------------------------------#
#                                          MISCELLANEOUS                                           #
#--------------------------------------------------------------------------------------------------#
#WP_MAIL_INTERVAL=300
#WP_DEFAULT_THEME=twentytwentythree
#WP_DISABLE_FATAL_ERROR_HANDLER=true
