DB_HOST=localhost
DB_NAME=wp
DB_PASSWORD="foo&bar!baz<qux"
DB_TABLE_PREFIX=xxx_
DB_USER="${DB_NAME}_user"

ALLOW_UNFILTERED_UPLOADS=false
EMPTY_TRASH_DAYS=12
ADMIN_COOKIE_PATH="/foo/bar"
WP_POST_REVISIONS=5
FS_CHMOD_DIR=0666

MY_AWESOME_VAR="Awesome!"
MY_BAD_VAR="Bad!"

COOKIE_DOMAIN=""
SUNRISE=on

PLUGIN_CONFIG_ONE="One!"
PLUGIN_CONFIG_TWO=2
PLUGIN_CONFIG_THREE=true
PLUGIN_CONFIG_FOUR=4
PLUGIN_CONFIG_FIVE=5
